html, body {
  background-color: #FAF1D3;
  color: #FFF8F8;
  font-family: 'Raleway', san-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
}

input, select {
  font-family: inherit;
}

h1, h2, h3 {
  color: #FFF8F8;
  text-align: center;
}

#background {
  position: relative;
  display: block;
  background-color: #FF7F66;
  height: 100%;
  width: 100%;
  z-index: 1;
}

#status {
  background-color: rgba(49, 55, 69, 0.25);
  display: block;
  height: 5em;
  position: fixed;
  width: 100%;
  z-index: 3;
}

#title, .answer {
  display: inline-block;
  font-size: 6em;
  font-weight: 300;
  left: 25%;
  margin-top: 22%;
  z-index: 3;
}

.search-bar {
  /*position: relative;*/
  width: 100%;
  margin: 0px auto;
}

.search-box {
  font-size: 2em;
  /*margin-left: 360px;*/
  width: 420px;
  height: 40px;
  color: #0f0f0f;
  opacity: 0.75;
  padding-left: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}

input[type=search]:focus, input:active {
  outline: none;
}

input {
  display: inline;
  border: none;
}

.search-button {
  font-size: 2em;
  height: 60px;
  width: 120px;
  background-color: #7ECEFD;
  text-align: center;
  margin-left: -4px;
  margin-top: -10px;
}

.search-button:hover, .again-button:hover {
  background-color: #2185C5;
}

.answer {
  font-size: 8em;
}
.again-button {
  font-size: 2em;
  background-color: #7ECEFD;
  height: 60px;
  width: 120px;
}

#_dropdown{
  margin: 0 auto;
  font-size: 1.2em;
  width: 420px;
  position: relative;
  right: 58px;
}











